{% extends 'lmn/base.html' %}
{% block content %}

<h2>New note for {{ show.artist.name }} at {{ show.venue.name }} on {{ show.show_date}}</h2>

<form method="POST" action="{% url 'lmn:new_note' show_pk=show.pk %}">{% csrf_token %}
  {{ form.as_p }}
  <P>
  <input type='submit' value='Add Note'>
</form>
<a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    <a class=twitter-share-button"
    href="https://twitter.com/intent/tweet?text=">
    Tweet</a>
{% endblock %}
