{% extends 'lmn/base.html' %}
{% load static %}
{% block content %}
{% load static %}
<h1>Artists:</h1>
        {% for artist in artists %}
            <P>{{ artist.name }}</P>
        {% endfor %}

<h2 id="note_page_title">{{ note.show.venue.name }} by <a href="{% url 'lmn:user_profile' user_pk=note.user.pk %}">{{ note.user.username }}</a></h2>

<p id="note_title"><b>{{ note.title}}</b></p>
    <p id="note_text"><b>{{ note.text }}</b></p>

    {% if note.image %}
        <img src="{{ note.image.url }}">
    {% else %}
        <P>No image</P>
    {% endif %}
    <p>Rating: {{ note.rating }}</p>
    <p>Likes: {{ note.likes }}</p>
    {% if user == note.user %}
        <a role="button" href="{% url 'lmn:edit_note' note_pk=note.pk %}" class="btn btn-warning" id="edit_note_button">Edit Note</a>
        <a role="button" href="{% url 'lmn:delete_note' note_pk=note.pk%}" class="btn btn-danger" id="delete_note_button">Delete Note</a>
    {% else %}
        <a href={% url 'lmn:like_note' note_pk=note.id %}><span class="glyphicon glyphicon-thumbs-up" id="note_thumbs_up"></span></a>
        <a href={% url 'lmn:dislike_note' note_pk=note.id %}><span class="glyphicon glyphicon-thumbs-down" id="note_thumbs_down"></span></a>
        {% endif %}
        <script src="{% static 'js/delete_note.js' %}"></script>
        {% endblock %}
{% block script%}

{% endblock %}
